/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* On commence ici */

@font-face {
    font-family : helvetica;
    src :url(fonts\HelveticaNeue.ttf);
 }

.logowa{
width: 130px;
height: auto;
position: relative;
bottom:10px;
}

header{
display: flex;
justify-content: space-between;
align-content: center;
width: auto;
padding-left: 40px;
padding-right: 40px;
padding-top: 29px;
padding-bottom: 20px;
color: #1c1e21;
font-size: 16px;
position: sticky;
top: 0px;
background-color: rgba(252, 245, 235, 0.8);
backdrop-filter: blur(5px);
z-index: 100;
/* border-bottom: 0.1px solid rgba(28, 30, 33, 0.2); */
}

body{
font-family: helvetica;
background-color: #fcf5eb;
color: #1c1e21;
}

nav ul{
justify-content: center;
display: flex;
align-items: center;
width: 100%;
margin-left: 100px;
}

nav ul li{
padding-right: 20px;
padding-left: 20px;
padding-top: 0px;
padding-bottom: 0px;

}
.bouton1{
background-color: #25d366;
color: #1c1e21;
border-radius: 50px;
padding-right: 28px;
padding-left: 28px;
padding-top: 16px;
padding-bottom: 16px;
border-width: 1px;
border-style: solid;
}

header span a{
margin: 20px;
width: auto;
}

.flech{
    transform: rotate(-90deg);
}

nav ul li a:link, .bouton1:link, .waweb:link {
text-decoration: none;
color: #1c1e21;
}
nav ul li a:visited, .bouton1:visited, .waweb:visited {
    text-decoration: none; 
    color: #1c1e21;
    }
nav ul li a:hover { 
    text-decoration: none; 
}

.waweb:hover{
    text-decoration: underline solid #25d366 2px;
}

nav ul li a:active,.waweb:active { 
    text-decoration: underline; 
}

nav ul li a:after{
    content: '';
    display: flex;
    position: relative;
    bottom: 1px;
    width: 0%;
    left: 0px;
    height: 2px;
    transition: 0.75s cubic-bezier(0.72,-0.01, 0.19, 0.92);
    background: #25d366;
}


nav ul li a:hover:after, .waweb:hover:after {
    width: 100%;
  }

.grosimg{
    display: block;
    position:relative;z-index:1;
    width: 1285px ;
    padding: 32px;
    border-radius: 50px;

}
.bjrmum{
    position:absolute;z-index:2;
    top: 150px;
    left: 770px;
}

/* .section1{
position: relative;

} */
.coeur{
    position:absolute;z-index:2;
    top: 170px;
    left: 770px;
}
.nescafe{
    position:absolute;z-index:2;
    top: 180px;
    left: 760px;
}
.vocal{
    position:absolute;z-index:2;
    top: 315px;
    left: 770px;
}
.souriantes{
    position:absolute;
    z-index:2;
    top: 385px;
    left: 775px;
    
}
.ecrit1{
text-align: left ;
font-size: 80px;
color: white;
position:absolute;
z-index:2;
top: 160px;
left: 135px;

}

.ecrit2{
    text-align: left ;
    font-size: 18px;
    color: white;
    position:absolute;
    z-index:2;
    top: 590px;
    left: 135px;
}
.dl2{
 text-align: left ;
    font-size: 18px;
    color: white;
    position:absolute;
    z-index:2;
    top: 680px;
    left: 135px;
    border-style: none;
}
.frais{
font-size: 12px;
color: #5e5e5e;
position:absolute;
text-align: right;
top: 790px;
right: 30px;
}

.imgpd{
text-align: center;
padding-top: 32px;
}
.messageappel{
    text-align: center;
    padding-top: 56px;
    font-size: 48px;
}
.imgdd{
    text-align: center;
    padding-top: 32px;
}

.pp1{
display: flex;
justify-content: space-evenly;
width: 100%;
padding-top: 88px;

}

.mank{
font-size: 60px;
}

.callin{
font-size: 18px;
padding-top: 18px;
}

.bloc1{
padding-top: 150px;
padding-left: 0px;
}

.imgvc{
margin-right: 70px;
}

.liensavoplus{
padding-top: 61px;
}

.svg2{
font-weight: 400px;
width: 16px;
height: 15px;
padding-left: 13px;
padding-top: 200px;
}

.liensavoplus a:link{
    text-decoration: underline solid 2px;
    color:#1c1e21;
    text-decoration-color:#25d366

    }

.liensavoplus a:visited{
    text-decoration: underline solid 2px;
    color:#1c1e21;
    text-decoration-color:#25d366;
}

.liensavoplus a:hover{
color: #25d366;
}

.black{
background-color: #111b21;
color: white;
width: 1349px;
height: 840px;
padding-top: 80px;
}
.verte{
color: #25d366;}

.section33{
    background-color: #fcf5eb;
    width: 1349px;
    height: 710px;
    z-index: 3;
    }

.afoot{
width: 1349px;
height: 500px;
background-color: #e6ffda;
border-bottom-left-radius: 45px;
border-bottom-right-radius: 45px;
}

.carouss{
width: 504px;
height: 399px;
background-color: white;
border-radius: 25px;
display: flex;
flex-direction: column;
justify-content: center;
}
.carou-element{ 
    padding-left: 56px;
} 

.blink a:link{
    color: white;
    }

.blink a:visited{
 color:#ffffff;
}

.blink a:hover{
    color: #25d366;
    }

.caroulink a{
text-decoration: none;
color: #1c1e21;
font-size: 16px;
border: 1px solid #1c1e21;
border-radius: 50px;
padding-top: 16px;
padding-bottom: 16px;
padding-left: 28px;
padding-right: 28px;

}

.logowa{
width: 23px;
height: 23px;
}

.carou-elementa{
font-size: 32px;
margin-bottom: 16px;
}

.carou-elementb{
font-size: 16px;

}

.carou-elementsvg{
    margin-bottom: 36px;
    }

.caroulink{
    margin-top: 52px;
}

.contactus{
position: relative;
top: -125px;

}

.direct{

border:solid #1c1e21 1px;
padding: 20px;
border-radius: 100%;
margin: 4px;
}

.directl{
transform: rotate(180deg);
}

.carousvgpapa{
padding-top: 125px;
}

footer{
width: 1349px;
height: 506px;
background-color: #111b21;
position: absolute;
top: 6250px;
z-index: -99999;
}

.footel{
    
margin-left: 150px;

}

.vv1{
padding-top: 150px;
}